langchain
openai
chainlit
chromadb
tiktoken
PyPDF2
pypdf
pandas
tabulate
pytesseract
pdf2image
opencv-python
python-pptx
PyMuPDF
Pillow
requests
ctransformers
huggingface-hub
sentence-transformers
faiss-cpu